<ion-view view-title="Votre SMS">
  <ion-content class="padding" scroll="true">
    <div class="padding">
      <button class="button button-positive" ng-click="modal.show()">Insérer un champ de fusion</button>
    </div>
      <div class="padding">
        <label class="item item-input">
          <input type="text" ng-model="obj.texte"/>
        </label>
        <div class="padding row">
          <button ng-click="valider()" class="button button-positive col-40" ng-show="obj.texte.length>0">Envoyer</button>
        </div>
      </div>
  </ion-content>
</ion-view>
